version: '3.8'

services:
  redis:
    image: redis:latest
    container_name: arke-redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data  # Redis volume storage
    command: redis-server --save 60 1 --loglevel warning
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    container_name: arke-qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage. # Qdrant volume storage

configs:
 qdrant_config:
    content: |
      log_level: INFO
